<mat-toolbar color="primary" *ngIf="nav.visible">
  <button
    *ngIf="app.isAuthenticated"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/images" routerLinkActive="active-link">
      <mat-icon>photo_camera</mat-icon> Manage Images
    </button>

    <button
      mat-menu-item
      routerLink="/schedules"
      routerLinkActive="active-link"
    >
      <mat-icon>calendar_today</mat-icon> Manage Schedules
    </button>

    <button
      mat-menu-item
      routerLink="/current-schedule"
      routerLinkActive="active-link"
    >
      <mat-icon>horizontal_split</mat-icon> Current Schedule
    </button>
  </mat-menu>

  <span>CIRCUIT ON</span>
  <span class="example-spacer"></span>
  <div *ngIf="app.isAuthenticated" class="align-items">
    <span class="username">
      {{ app.username }}
    </span>
    <button mat-mini-fab color="primary" title="Logout" (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
