<section class="container">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h1>
        Welcome
        <span *ngIf="app.isAuthenticated">
          {{ app.username }}
        </span>
      </h1>
    </mat-grid-tile>
  </mat-grid-list>
</section>

<ng-container *ngIf="app.isAuthenticated; else loginInstructions">
  <section class="main-container">
    <p class="page-info align-items">
      <mat-icon class="info-icon">info</mat-icon>
      On your TV, you can add the /view address to your favorites and set it as
      your home page
    </p>

    <p class="page-info align-items">
      <mat-icon class="info-icon">info</mat-icon>
      The View page will automatically update the image based on the current
      schedule. You do not need to refresh the TV browser, only open it once and
      the magic will happen
    </p>

    <p class="page-info align-items">
      <mat-icon class="info-icon">info</mat-icon>
      It is not required to schedule the same image for 5:50 am and 5:35 pm. If
      there is no other picture to show in this meantime, at 5:35 pm it will
      still still show the last picture on the system
    </p>

    <div class="mat-elevation-z8 inner-container">
      <h2>Instructions:</h2>
      <ol>
        <li>
          Use the menu on the left to upload your <em>Images</em> and manage
          your
          <em>Schedules</em>
        </li>
        <li>Use the <em>Current Schedule</em> menu to preview your schedule</li>
        <li>
          On your TV, open the internet browser, and access the
          <em>view</em> page
        </li>
      </ol>
    </div>
  </section>
</ng-container>

<ng-template #loginInstructions>
  <section class="main-container align-horizontal-center center-text">
    <p>
      <label class="padding-30">Use the button below sign:</label><br />
      <button
        mat-fab
        extended
        color="primary"
        title="Sign in"
        (click)="signIn()"
        class="margin-10"
      >
        <mat-icon>account_circle</mat-icon> Sign in with Okta
      </button>
    </p>
  </section>
</ng-template>
