.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  .mat-column-backgroundColor {
    flex: 0 0 10%;
  }

  .mat-column-action {
    flex: 0 0 10%;
  }
}

.align-items {
  display: flex;
  align-items: center;
}

.info-icon {
  padding-right: 10px;
}

.page-info {
  color: #0009;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .info-icon {
    padding-right: 30px;
  }

  .first-info-icon {
    padding-right: 20px;
  }

  .align-items {
    align-items: flex-start;
  }

  .xs-hidden {
    display: none;
  }

  .page-info {
    padding-right: 24px;
  }
}

.add-item-button {
  margin: 0 0 16px 16px;
}

.slide-toggle {
  margin-bottom: 20px;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}
