<h1 mat-dialog-title>Add a new schedule</h1>
<div mat-dialog-content>
  <form [formGroup]="scheduleForm">
    <mat-form-field>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        placeholder="Choose a date"
        formControlName="scheduledAt"
        [min]="datetimePickerOptions.minDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(picker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker
        [touchUi]="datetimePickerOptions.touchUi"
        [enableMeridian]="datetimePickerOptions.enableMeridian"
        [defaultTime]="datetimePickerOptions.defaultTime"
        [stepMinute]="datetimePickerOptions.stepMinute"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <ng-container *ngIf="imagesByCategoryList">
      <mat-form-field appearance="fill">
        <mat-label>Image</mat-label>
        <mat-select formControlName="imageId">
          <mat-optgroup
            *ngFor="let imagesByCategory of imagesByCategoryList"
            [label]="imagesByCategory.category.toUpperCase()"
          >
            <mat-option
              *ngFor="let image of imagesByCategory.images"
              [value]="image._id"
            >
              {{ image.title }}, Modified At:
              {{ image.updatedAt | date : "EEE, MMM d z" }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </form>
</div>

<div mat-dialog-actions [align]="'end'" class="buttons-row">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <button
    mat-raised-button
    color="primary"
    (click)="addOrUpdateSchedule(false)"
  >
    <mat-icon>save</mat-icon> {{ actionButtonName }}
  </button>

  <button mat-raised-button color="primary" (click)="addOrUpdateSchedule()">
    <mat-icon>save_alt</mat-icon> {{ actionButtonName }} and Close
  </button>
</div>
