<section class="container">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h1>Images</h1>
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog()"
        class="add-item-button"
      >
        <mat-icon>add</mat-icon>
        Add item
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</section>

<section class="container">
  <p class="page-info align-items">
    <mat-icon class="info-icon">info</mat-icon>
    &nbsp; When deleting an image, it automatically removes any schedule related
    to the image
  </p>

  <div>
    <mat-form-field>
      <mat-label> <mat-icon matPrefix>search</mat-icon> Filter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="filter"
        #ctrl="ngModel"
        (keyup)="applyFilter($event)"
        placeholder="Search rows..."
        #input
        autocomplete="off"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <mat-table
        #table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Category
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.category }}</mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Title
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
        </ng-container>

        <!-- Background Color Column -->
        <ng-container matColumnDef="backgroundColor">
          <mat-header-cell *matHeaderCellDef>
            {{ isSmallScreen ? "Color" : "BG Color" }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-icon
              *ngIf="row.backgroundColor"
              [ngStyle]="{ background: row.backgroundColor }"
            >
              colorize
            </mat-icon>
          </mat-cell>
        </ng-container>

        <!-- Modified At Column -->
        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ isSmallScreen ? "At" : "Modified At" }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.updatedAt | date : dateTimeFormat }}
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!-- <button mat-icon-button color="primary" (click)="editImage(row)">
              <mat-icon>edit</mat-icon>
            </button> -->
            <button
              mat-icon-button
              color="primary"
              (click)="openDialogShowImage(row)"
              title="Show image"
            >
              <mat-icon>pageview</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteImage(row._id)"
              title="Delete item"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            {{
              dataSource.data.length > 0
                ? "No data matching the filter"
                : "No data to display"
            }}
          </td>
        </tr>
      </mat-table>

      <mat-paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        aria-label="Select page"
      ></mat-paginator>
    </div>
  </div>
</section>
