<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/images" routerLinkActive="active-link">
      <mat-icon>photo_camera</mat-icon> Manage Images
    </button>
    <button
      mat-menu-item
      routerLink="/schedules"
      routerLinkActive="active-link"
    >
      <mat-icon>calendar_today</mat-icon> Manage Schedules
    </button>
    <button mat-menu-item routerLink="/view" routerLinkActive="active-link">
      <mat-icon>pageview</mat-icon> View
    </button>
  </mat-menu>
  <span>Propaganda Manager</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
<app-spinner></app-spinner>
