mat-form-field {
  width: 100%;
}

.buttons-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.top-vertical-align {
  vertical-align: top;
  font-size: 1.25em;
}

.width-50 {
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
