@media screen and (min-width: 992px) {
  .height100 {
    height: 100%;
  }
}
@media screen and (max-width: 991px) {
  .height100 {
    width: 100%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-datepicker-dialog {
  max-width: 98vw !important;
}
